# Ignore Maven builds
target/

# Ignore node modules everywhere
node_modules/
node/

# Ignore OSX DS store
.DS_Store

# Ignore Sublime Text files
*.sublime-workspace

# Ignore generated sources
src/js/
src/dist/
src/public/
src/typings/
src/config-devel.json
src/package.json
