/************************************************************/
/* CONSTANTS                                             */
/************************************************************/

// Colors
$color-text: #636363;
$color-highlighted-petrol: #027180;
$color-highlighted-orange: #E56B29;
$color-highlighted-blue: #2D448A;
$color-highlighted-green: #5FA318;

// Text
$size-text-small: 11px;
$size-text: 15px;
$size-text-large: 19px;
$size-text-extra-large: 20px;

$size-text-small__screen-large: 12px;
$size-text__screen-large: 16px;
$size-text-extra-large__screen-large: 22px;

$size-text-small__screen-extra-large: 16px;
$size-text__screen-extra-large: 20px;
$size-text-extra-large__screen-extra-large: 28px;

$weight-text: 100;

// Headings
$size-heading-extra-small: 18px;
$size-heading-small: 20px;
$size-heading: 25px;
$size-heading-large: 40px;
$size-heading-extra-large: 40px;

$size-heading-extra-small__screen-large: 23px;
$size-heading-small__screen-large: 28px;
$size-heading__screen-large: 32px;
$size-heading-large__screen-large: 52px;
$size-heading-extra-large__screen-large: 52px;

$size-heading-extra-small__screen-extra-large: 30px;
$size-heading-small__screen-extra-large: 34px;
$size-heading__screen-extra-large: 40px;
$size-heading-large__screen-extra-large: 65px;
$size-heading-extra-large__screen-extra-large: 75px;
