@import 'constants';

/**********/
/* FOOTER */
/**********/

.footer {
  background-color: #042C38;
  min-height: 200px;
  color: #FFFFFF;
  font-weight: 100;
  font-size: 14px;
  padding-top: 40px;
  padding-bottom: 40px;
  .address {
    h5 {
      font-weight: 400;
      margin: 0 0 5px 0;
      font-size: 18px;
      @media only screen and (min-width: 64.063em){
        font-size: 16px;
      }
      @media only screen and (min-width: 72.063em){
        font-size: 18px;
      }
    }
    a {
      color: #FFFFFF;
    }
    .some-logo {
      width: 40px;
      padding-top: 10px;
    }
    .some-logo:first-child {
      padding-right: 20px;
    }
    padding-bottom: 20px;
    text-align: center;
    @media only screen and (min-width: 64.063em){
      text-align: left;
    }
  }
  .icon-bar {
    padding-left: 0;
    font-size: 14px;
  }
  .terms {
    font-size: 14px;
    text-align: center;
    a {
      color: #FFFFFF;
    }
  }
  .address-picture {
    @media only screen and (min-width: 64.063em){
      padding-left: 2vw;
    }
    @media only screen and (min-width: 78.063em){
      padding-left: 5vw;
    }
    @media only screen and (min-width: 90.063em){
      padding-left: 10vw;
    }
    img {
      width: 110px;
      padding-right: 20px;
      display: block;
      margin: auto;
      @media only screen and (min-width: 64.063em){
        display: inherit;
        float: left;
      }
    }
    .address-text {
      padding-top: 20px;
    }
    text-align: center;
    @media only screen and (min-width: 64.063em){
      text-align: left;
    }
  }

  #footer-address {
    margin: 40px 0 40px 0;
  }

  @media only screen and (min-width: 64.063em){
    .footer-column {
      border-top: 1px solid #075168;
      border-bottom: 1px solid #075168;
      height: 165px;
      padding: 40px 0 40px 0;
    }
  }
}

.services {
  .footer a {
    color: #FFFFFF;
  }
}

.research {
  .footer a {
    color: #FFFFFF;
  }
}

.people {
  .footer a {
    color: #FFFFFF;
  }
}
